.container {

  table {
    border-spacing: 0;
    width: 100%;

  tr:last-child td {
    border: none;
  }

    th {
      font-size: 1.6rem;
      color: #828282;
      text-align: left;
      font-weight: 400;

      &:nth-child(n + 2) {
        text-align: right;
      }
    }

    td {
      @apply text-18 sm:text-14;
      padding: 2rem 0 .5rem;
      border-bottom: 1px solid #B9B9B9;

      &:nth-child(n + 2) {
        text-align: right;
        width: 15%;
      }
    }
  }
}
